<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <div class="container m-5">
            <h1 class="">Admin Panel</h1>
            <div class="row">
                <a class="btn btn-primary col m-2" href="/create" role="button">Add Product</a>
                <a class="btn btn-primary col m-2" href="/products" role="button">Edit Product</a>
                <a class="btn btn-secondary disabled col m-2" href="#" role="button">CS*: Edit Hero</a>
                <a class="btn btn-secondary disabled col m-2" href="#" role="button">CS*: Edit Why Us?</a>
                <a class="btn btn-secondary disabled col m-2" href="#" role="button">CS*: Edit About Us</a>
                <a class="btn btn-primary col m-2" href="/register" role="button">Admin Registry</a>                
            </div>
            <hr style="border: 1px solid black">
            <p>*coming soon</p>
        </div>
    </body>
</html>