#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 5vh;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    color: rgba(39, 36, 36, 0.74);
    margin: 20px;
}